{% extends 'base.html.twig' %}

{% block title %}Voituresoccasion index{% endblock %}

{% block body %}
    <h1>Voituresoccasion index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Marque</th>
                <th>Modele</th>
                <th>AnneeMiseEnCirculation</th>
                <th>Prix</th>
                <th>Kilometrage</th>
                <th>Image</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for voituresoccasion in voituresoccasions %}
            <tr>
                <td>{{ voituresoccasion.id }}</td>
                <td>{{ voituresoccasion.marque }}</td>
                <td>{{ voituresoccasion.modele }}</td>
                <td>{{ voituresoccasion.anneeMiseEnCirculation }}</td>
                <td>{{ voituresoccasion.prix }}</td>
                <td>{{ voituresoccasion.kilometrage }}</td>
                <td>{{ voituresoccasion.image }}</td>
                <td>{{ voituresoccasion.description }}</td>
                <td>
                    <a href="{{ path('app_voituresoccasion_show', {'id': voituresoccasion.id}) }}">show</a>
                    <a href="{{ path('app_voituresoccasion_edit', {'id': voituresoccasion.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_voituresoccasion_new') }}">Create new</a>
{% endblock %}
