{% extends 'base.html.twig' %}

{% block title %}Horairesouverture index{% endblock %}

{% block body %}
    <h1>Horairesouverture index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Jour</th>
                <th>HeureOuverture</th>
                <th>HeureFermeture</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for horairesouverture in horairesouvertures %}
            <tr>
                <td>{{ horairesouverture.jourSemaine }}</td>
                <td>{{ horairesouverture.heureOuverture ? horairesouverture.heureOuverture|date('H:i:s') : '' }}</td>
                <td>{{ horairesouverture.heureFermeture ? horairesouverture.heureFermeture|date('H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_horairesouverture_show', {'id': horairesouverture.id}) }}">show</a>
                    <a href="{{ path('app_horairesouverture_edit', {'id': horairesouverture.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_horairesouverture_new') }}">Create new</a>
{% endblock %}
